* {
  box-sizing: border-box;
}
.img-fondo{
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIFnnuVax0iUDNZa5Ed7C5-8fxVjVdo7kEbw&usqp=CAU");
  background-size: 100% 100%;
}

.header {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  gap: 30px;
  
}

.header__conteiner-title {
  align-self: center;
  text-align: center;
}

.porfolio {
  min-height: 1500px;
  overflow: auto;
}

.portfolio__conteiner-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 60px;
}

.card {
  min-width: 285px;
  max-width: 300px;
  height: 425px;
  display: grid;
  gap: 10px;
  text-align: center;
  background-color: rgb(221, 214, 214);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  text-align: center;
  transition: all 0.5s linear;
}


.card__img-preview {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}
.card__conteiner-content {
  display: grid;
  gap: 10px;
}

.card__link {
  justify-self: end;
  margin-right: 5px;
}
